@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word>span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

.robot-mono {
  font-size: 38px;
  font-weight: normal;
  color: palevioletred;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: Roboto Mono;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: normal;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: 400;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter {
  font-size: 65px;
  font-weight: 700;
  color: saddlebrown;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.didILetter {
  font-size: 76px;
  font-weight: bold;
  color: brown;
  text-decoration: overline;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
}

.didDTwoLetter {
  font-size: 55px;
  font-weight: 400;
  color: red;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: Libertinus;
}

/* THE word */

.theTLetter {
  font-size: 38px;
  font-weight: normal;
  color: seagreen;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: Roboto Mono;
}

.theHLetter,
.theELetter {
  font-size: 55px;
  font-weight: 400;
  color: darkgray;
  text-decoration: none;
  text-transform: capitalize;
  font-family: story script;
}

/* FRONT-END word */

.frontendFLetter {
  font-size: 60px;
  font-weight: 700;
  color: slategray;
  text-decoration: dotted;
  text-transform: lowercase;
  font-family: fantasy;
}

.frontendRLetter {
  font-size: 67px;
  font-weight: bolder;
  color: aqua;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.frontendOLetter {
  font-size: 96px;
  font-weight: lighter;
  color: honeydew;
  text-decoration: dashed;
  text-transform: lowercase;
  font-family: 'Courier New', Courier, monospace;
}

.frontendNLetter {
  font-size: 65px;
  font-weight: bold;
  color: firebrick;
  text-decoration: overline;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.frontendTLetter {
  font-size: 76px;
  font-weight: bolder;
  color: fuchsia;
  text-decoration: dotted;
  text-transform: lowercase;
  font-family: cursive;
}

.frontendELetter {
  font-size: 59px;
  font-weight: bolder;
  color: peru;
  text-decoration: double;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.frontendNTwoLetter {
  font-size: 48px;
  font-weight: lighter;
  color: azure;
  text-decoration: solid;
  text-transform: lowercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.frontendDLetter {
  font-size: 73px;
  font-weight: lighter;
  color: aquamarine;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}

/* DEVELOPER word */

.developerDLetter {
  font-size: 98px;
  font-weight: bolder;
  color: green;
  text-decoration: solid;
  text-transform: lowercase;
  font-family: cursive;
}

.developerELetter {
  font-size: 39px;
  font-weight: bold;
  color: khaki;
  text-decoration: dashed;
  text-transform: capitalize;
  font-family: sans-serif;
}

.developerVLetter {
  font-size: 76px;
  font-weight: lighter;
  color: goldenrod;
  text-decoration: dotted;
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.developerETwoLetter {
  font-size: 55px;
  font-weight: bolder;
  color: beige;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.developerLLetter {
  font-size: 65px;
  font-weight: bolder;
  color: blanchedalmond;
  text-decoration: dotted;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

.developerOLetter {
  font-size: 54px;
  font-weight: bolder;
  color: violet;
  text-decoration: dashed;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.developerPLetter {
  font-size: 98px;
  font-weight: lighter;
  color: red;
  text-decoration: solid;
  text-transform: lowercase;
  font-family: 'Times New Roman', Times, serif;
}

.developerEThreeLetter {
  font-size: 66px;
  font-weight: bolder;
  color: chartreuse;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Courier New', Courier, monospace,
}

.developerRLetter {
  font-size: 34px;
  font-weight: bolder;
  color: cadetblue;
  text-decoration: dashed;
  text-transform: capitalize;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* TAKE word */

.takeTLetter {
  font-size: 34px;
  font-weight: lighter;
  color: chocolate;
  text-decoration: solid;
  text-transform: lowercase;
  font-family: cursive;
}

.takeALetter {
  font-size: 67px;
  font-weight: lighter;
  color: rgb(rgb(184, 67, 67), green, blue);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}

.takeKLetter {
  font-size: 86px;
  font-weight: bold;
  color: rgb(rgb(177, 15, 15), rgb(74, 184, 74), rgb(55, 55, 169));
  text-decoration: solid;
  text-transform: uppercase;
  font-family: cursive;
}

.takeELetter {
  font-size: 33px;
  font-weight: lighter;
  color: rgb(rgb(89, 9, 174), rgb(51, 199, 51), rgb(120, 120, 169));
  text-decoration: underline;
  text-transform: lowercase;
  font-family: cursive;
}

/* UP word */

.upULetter {
  font-size: 54px;
  font-weight: bold;
  color: red;
  text-decoration: solid;
  text-transform: lowercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.upPLetter {
  font-size: 39px;
  font-weight: lighter;
  color: rebeccapurple;
  text-decoration: solid;
  text-transform: capitalize;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* GARDENING word */

.gardeningGLetter {
  font-size: 65px;
  font-weight: lighter;
  color: gold;
  text-decoration: dashed;
  text-transform: lowercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.gardeningALetters {
  font-size: 67px;
  font-weight: bolder;
  color: black;
  text-decoration: solid;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}

.gardeningRLetter {
  font-size: 25px;
  font-weight: lighter;
  color: gray;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

.gardeningDLetter {
  font-size: 87px;
  font-weight: bold;
  color: yellow;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gardeningELetter {
  font-size: 78px;
  font-weight: lighter;
  color: blueviolet;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

.gardeningNLetter {
  font-size: 89px;
  font-weight: bolder;
  color: beige;
  text-decoration: dashed;
  text-transform: lowercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.gardeningILetter {
  font-size: 43px;
  font-weight: bold;
  color: palegoldenrod;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
}

.gardeningNTwoLetter {
  font-size: 53px;
  font-weight: bolder;
  color: rgb(rgb(218, 14, 14), rgb(52, 211, 52), rgb(19, 19, 239));
  text-decoration: solid;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
}

.gardeningGTwoLetter {
  font-size: 66px;
  font-weight: lighter;
  color: rgb(rgb(140, 26, 26), rgb(49, 152, 49), rgb(64, 64, 212));
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* BECAUSE word */

.becauseBLetter {
  font-size: 87px;
  font-weight: bolder;
  color: pink;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: Arial, Helvetica, sans-serif;
}

.becauseELetter {
  font-size: 55px;
  font-weight: bolder;
  color: red;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.becauseCLetter {
  font-size: 87px;
  font-weight: bolder;
  color: palevioletred;
  text-decoration: dotted;
  text-transform: lowercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.becauseALetter {
  font-size: 65px;
  font-weight: lighter;
  color: rgb(rgb(249, 38, 228), rgb(214, 29, 227), blue);
  text-decoration: dashed;
  text-transform: lowercase;
  font-family: Arial, Helvetica, sans-serif;
}

.becauseULetter {
  font-size: 55px;
  font-weight: lighter;
  color: burlywood;
  text-decoration: dotted;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.becauseSLetter {
  font-size: 23px;
  font-weight: bold;
  color: blue;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: sans-serif;
}

.becauseETwoLetter {
  font-size: 80px;
  font-weight: lighter;
  color: red;
  text-decoration: solid;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}

/* THEY word */

.theyTLetter {
  font-size: 55px;
  font-weight: lighter;
  color: plum;
  text-decoration: double;
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.theyHLetter {
  font-size: 67px;
  font-weight: bolder;
  color: olive;
  text-decoration: dotted;
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.theyELetter {
  font-size: 78px;
  font-weight: bolder;
  color: cyan;
  text-decoration: double;
  text-transform: lowercase;
  font-family: 'Times New Roman', Times, serif
}

.theyYLetter {
  font-size: 33px;
  font-weight: bold;
  color: coral;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* WANTED word */

.wantedWLetter {
  font-size: 35px;
  font-weight: lighter;
  color: blanchedalmond;
  text-decoration: double;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wantedALetter {
  font-size: 67px;
  font-weight: bolder;
  color: rebeccapurple;
  text-decoration: dotted;
  text-transform: uppercase;
  font-family: cursive;
}

.wantedNLetter {
  font-size: 66px;
  font-weight: lighter;
  color: tan;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
}

.wantedTLetter {
  font-size: 33px;
  font-weight: bolder;
  color: turquoise;
  text-decoration: solid;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wantedELetter {
  font-size: 89px;
  font-weight: bold;
  color: palegreen;
  text-decoration: dashed;
  text-transform: capitalize;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wantedDLetter {
  font-size: 65px;
  font-weight: lighter;
  color: wheat;
  text-decoration: solid;
  text-transform: lowercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* TO word */

.toTLetter {
  font-size: 58px;
  font-weight: bolder;
  color: rgb(rgb(167, 22, 22), rgb(111, 195, 111), rgb(14, 14, 103));
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.toOLetter {
  font-size: 44px;
  font-weight: bold;
  color: blue;
  text-decoration: dashed;
  text-transform: lowercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* IMPROVE word */

.improveILetter {
  font-size: 66px;
  font-weight: bolder;
  color: palegoldenrod;
  text-decoration: dashed;
  text-transform: lowercase;
  font-family: Arial, Helvetica, sans-serif;
}

.improveMLetter {
  font-size: 54px;
  font-weight: bold;
  color: gray;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Times New Roman', Times, serif;
}

.improvePLetter {
  font-size: 97px;
  font-weight: lighter;
  color: plum;
  text-decoration: dashed;
  text-transform: lowercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.improveRLetter {
  font-size: 66px;
  font-weight: bold;
  color: aliceblue;
  text-decoration: dashed;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}

.improveOLetter {
  font-size: 78px;
  font-weight: lighter;
  color: red;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.improveVLetter {
  font-size: 64px;
  font-weight: bold;
  color: rgb(16, 16, 182);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.improveELetter {
  font-size: 89px;
  font-weight: bolder;
  color: goldenrod;
  text-decoration: solid;
  text-transform: lowercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* THEIR word */

.theirTLetter {
  font-size: 65px;
  font-weight: lighter;
  color: rgb(rgb(220, 39, 39), rgb(5, 104, 5), rgb(16, 16, 182));
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.theirHLetter {
  font-size: 73px;
  font-weight: bolder;
  color: blueviolet;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.theirELetter {
  font-size: 98px;
  font-weight: bolder;
  color: bisque;
  text-decoration: dashed;
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.theirILetter {
  font-size: 65px;
  font-weight: lighter;
  color: whitesmoke;
  text-decoration: solid;
  text-transform: lowercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.theirRLetter {
  font-size: 24px;
  font-weight: lighter;
  color: yellow;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

/* ROOT word */

.rootRLetter {
  font-size: 33px;
  font-weight: lighters;
  color: azure;
  text-decoration: solid;
  text-transform: lowercase;
  font-family: 'Times New Roman', Times, serif;
}

.rootOLetter {
  font-size: 43px;
  font-weight: bold;
  color: black;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.rootOTwoLetter {
  font-size: 88px;
  font-weight: bolder;
  color: brown;
  text-decoration: dashed;
  text-transform: capitalize;
  font-family: Georgia;
}

.rootTLetter {
  font-size: 96px;
  font-weight: lighter;
  color: rgb(rgb(11, 45, 193), rgb(35, 222, 35), rgb(239, 239, 244));
  text-decoration: underline;
  text-transform: uppercase;
  font-family: serif;
}

/* SKILLS word */

.skillsSLetter {
  font-size: 66px;
  font-weight: bold;
  color: rgb(rgba(255, 0, 0, 0.352), rgb(87, 158, 87), rgb(23, 23, 128));
  text-decoration: solid;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

.skillsKLetter {
  font-size: 56px;
  font-weight: lighter;
  color: green;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.skillsILetter {
  font-size: 48px;
  font-weight: bold;
  color: rgb(rgb(113, 17, 17), rgb(56, 237, 56), rgb(176, 176, 198));
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skillsLLetter {
  font-size: 58px;
  font-weight: bolder;
  color: rgb(rgb(38, 142, 121), green, blue);
  text-decoration: dashed;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.skillsLTwoLetter {
  font-size: 22px;
  font: weight 90px;
  color: rgb(36, 159, 46);
  text-decoration: double;
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.skillsSTwoLetter {
  font-size: 78px;
  font-weight: lighter;
  color: red;
  text-decoration: solid;
  text-transform: lowercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* SYMBOLS */

.hyphen {
  font-size: 32px;
  font-weight: bold;
  color: greenyellow;
  text-decoration: double;
  text-transform: capitalize;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.exclamation-mark {
  font-size: 69px;
  font-weight: bolder;
  color: beige;
  text-decoration: solid;
  text-transform: lowercase;
  font-family: 'Times New Roman', Times, serif;
}

.question-mark {
  font-size: 82px;
  font-weight: lighter;
  color: burlywood;
  text-decoration: dashed;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
}